<div class="container-fluid body-font">
    <div class="mw-100">
        <h1 class="card-body mx-auto text-center">Log your workouts effortlessly with a modern, user-friendly UI!</h1>
        <h1 class="mx-auto text-center">Add updates along the way for a more detailed journey.</h1>
    </div>
    <div class="mw-100">
        <h1 class="card-body mx-auto text-center"></h1>
    </div>
    <div class="container-fluid text-center">
        <div class="row container-fluid mx-auto">
            <a class="home-login m-3 p-3 mx-auto" href="/setup">Create an Account</a>
        </div>
         <div class="row container-fluid mx-auto">
            <p class="mx-auto my-0 home-or-fs">OR</p>
        </div>
        <div class="row container-fluid mx-auto">
            <a class="home-login m-3 p-3 mx-auto" href="/login">Login To Your Account</a>
        </div>
    </div>
</div>