<header>
    <div class="header-bar-wrapper">
    <nav class="navbar header-bar navbar-expand-sm navbar-light mx-auto">
        <div></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav flex-row-sm ml-sm-auto">
                <li class="nav-item"><a class="nav-link" href="/user"><i class="fas fa-home pr-1"></i>Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/log">Log</a></li>
                <li class="nav-item"><a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt pr-1"></i>Logout</a></li>
            </ul>
        </div>
    </nav>
    </div>
</header>